<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Done:</strong>
  <%= @todo.done %>
</p>

<p>
  <strong>Start at:</strong>
  <%= @todo.start_at %>
</p>

<p>
  <strong>Finish at:</strong>
  <%= @todo.finish_at %>
</p>

<%= link_to 'Edit', edit_polymorphic_path([@todo.list, @todo]) %> |
<%= link_to 'Back', list_todos_path %>
